*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Lato;
  src: url(/assets/fonts/Lato/Lato-Regular.ttf);
}

/* General */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-family: Lato, Arial, Helvetica, sans-serif;
  height: 100vh;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 61px;
  padding-left: 4vw;
  padding-right: 4vw;
}

.logo {
  height: 22px;
  width: 22px;
}

.logo-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 49.5px;
}

.shop-title {
  font-size: 24px;
}

.nav-list {
  display: flex;
  gap: 17px;
  align-items: center;
}

/* main */

main {
  background: #d9e8e5;
  height: calc(100vh - 61px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vh 7vw;
}

.flex {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.ring-container {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.main-heading {
  text-align: left;
  width: 100%;
}

.ring img {
  width: 25vw;
}

.price {
  position: relative;
  top: -30px;
  text-align: right;
  padding-right: 10px;
}
